#cardst {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#pic {
  padding-left: 20px;
  padding-bottom: 20px;
}
.row {
  padding-top: 30px;
}

.card-text {
  font-size: larger;
}
