.cover-area {
  padding: 0 0;
  position: relative;
}

.intro-card {
  min-width: 300px;
  max-width: 400px;
  position: absolute;
  top: 40%;
  left: 5%;
  color: rgba(255, 255, 255, 0.7);
}

.intro-card p {
  text-align: justify;
}
