.intro-card {
  max-width: 90vw;
  position: absolute;
  overflow: hidden;
  top: 40%;
  z-index: 1000;
}

@media only screen and (min-width: 576px) {
  .intro-card {
    max-width: 75vw;
  }
}

@media only screen and (min-width: 768px) {
  .intro-card {
    max-width: 440px;
    left: 5%;
  }
}

.intro-card p {
  text-align: justify;
}
