.box {
  height: 90px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 5;
}

.box nav {
  display: flex;
  flex-direction: row;
}

.box nav a {
  color: black;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

.box a:hover {
  background-color: rgb(243, 243, 243);
  color: rgb(107, 107, 107);
  cursor: pointer;
}

.box a:visited {
  text-decoration: none;
  color: black;
}
