.Box {
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 100vw;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  position: fixed;
}

.Box nav {
  display: flex;
  flex-direction: row;
}

.Box nav a {
  color: black;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

.Box a:hover {
  background-color: rgb(243, 243, 243);
  color: rgb(107, 107, 107);
  cursor: pointer;
}

.Box a:visited {
  text-decoration: none;
  color: black;
}
