.navbar-params {
  height: 80px;
}

.navbar-logo-anchor {
  width: 10%;
}

.navbar-logo {
  width: 10%;
  min-width: 150px;
  border: none;
}

.nav-link-font {
  font-size: 18px;
  color: rgb(0, 0, 0);
}
